<!-- TODO: CREATE DIRECTIVES FOR EITHER THE SEARCH OR LIST SECTION -->
<div class="col-md-9">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class='form-control' placeholder='Search...' ng-model='vm.searchFilter'>
        <button class='btn btn-success blog-search'><i class='fa fa-search'></i></button>
      </div>
    </div>
    <div class="col-md-3">
      <button class="btn btn-danger btn-block" ng-click='vm.toggleFilters = !vm.toggleFilters'><i class='fa fa-plus'></i> FILTERS</button>
    </div>
    <div class="col-md-3">
      <a href='/blogs/new' class="btn btn-info btn-block"><i class='fa fa-pencil'></i> ADD POST</a>
    </div>
  </div>
  <div class="row">
    <div class='col-md-12'>
      <div class="blog-filter jumbotron" ng-show='vm.toggleFilters'>
        <!-- TODO: ADD CATEGORIES FOR EACH POST -->
        <!-- Filters: votes, dates, author, categories -->
        <span>
          <label for="votes">Votes: </label>
          <select id="votes" ng-model='vm.voteFilter'>
            <option selected></option>
            <option value="-votes">Highest</option>
            <option value="votes">Lowest</option>
          </select>
          <i class='fa fa-sort'></i>
        </span> 
        <span>
          <label for="dates">Date: </label>
          <select id="dates" ng-model='vm.dateFilter'>
            <option selected></option>
            <option value="-date">Latest</option>
            <option value="date">Oldest</option>
          </select>
          <i class='fa fa-sort'></i>
        </span>
        <span>
          <label for="authors">Author: </label>
          <select id="authors" ng-model='vm.authorFilter'>
            <option selected></option>
            <option value="{{author}}" ng-repeat='author in vm.authors'>{{author}}</option>
          </select>
          <i class='fa fa-sort'></i>
        </span>
        <span>
          <label for="categories">Categories: </label>
          <select id="categories">
            <option selected></option>
            <option>N/A</option>
          </select>
          <i class='fa fa-sort'></i>
        </span>
      </div>
    </div>  
  </div>
  <div ng-repeat='
    post in vm.posts         | 
    filter : vm.searchFilter | 
    orderBy: vm.voteFilter   | 
    orderBy: vm.dateFilter   |
    filter : vm.authorFilter '>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <img src="{{post.image_url}}" alt="pic">
          </div>
          <div class="col-md-9">
            <div class="post-content">
              <h3 class="page-header post-title">
                <a href="/blogs/{{post.id}}" class='text-info'>{{post.title || 'N/A' | truncate: 45}}</a>
              </h3>
              <p>{{post.content || 'N/A' | truncate: 250}}</p>              
            </div>
            <div class="post-meta">
              <span class="post-date">
                Published: {{post.date | date: 'mediumDate'}}
              </span>
              <span class="post-author">
                by {{post.author || 'N/A' }}
              </span>
              <span class="post-votes pull-right">
                Votes:
                <i class='fa fa-thumbs-o-up fa-lg' ng-click='vm.onVoteChange(post, true)'></i>
                <span ng-class="post.votes >= 0 ? 'text-info' : 'text-danger'">{{post.votes}}</span>
                <i class='fa fa-thumbs-o-down fa-lg' ng-click='vm.onVoteChange(post, false)'></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>