<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12 page-header single-post-title">
          <h3 class="post-title">{{vm.post.title || 'N/A'}}</h3>
          <div class="post-meta">
            <span class="post-date">
              Published: {{vm.post.date | date: 'mediumDate'}}
            </span>
            <span class="post-author">
              by {{vm.post.author || 'N/A'}}
            </span>
            <span class="post-votes pull-right">
              Votes:
              <span ng-class="post.votes >= 0 ? 'text-info' : 'text-danger'">{{vm.post.votes}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="single-post-thumbnail">
            <img src="{{vm.post.image_url || 'N/A'}}" alt="pic">
          </div>
          <div class="single-post-content">
            <p>{{vm.post.content || 'N/A'}}</p>              
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a href='/blogs/{{vm.post.id}}/edit' class="btn btn-primary">EDIT</a>
          <button class="btn btn-danger" ng-click='vm.onPostDelete(vm.post.id)'>DELETE</button>
        </div>
      </div>
    </div>
  </div>
</div>