<div class="col-md-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>Sidebar</h4>
    </div>
    <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati eaque sint corrupti quaerat officia enim sed deserunt excepturi dignissimos modi a, aliquam, ullam eum dolorem pariatur. Quia, laborum iusto odit.
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4>Sidebar</h4>
    </div>
    <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati eaque sint corrupti quaerat officia enim sed deserunt excepturi dignissimos modi a, aliquam, ullam eum dolorem pariatur. Quia, laborum iusto odit.
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h4>Sidebar</h4>
    </div>
    <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati eaque sint corrupti quaerat officia enim sed deserunt excepturi dignissimos modi a, aliquam, ullam eum dolorem pariatur. Quia, laborum iusto odit.
    </div>
  </div>
</div>